.keyboard-button {
  width: 36px;
  height: 65px;
  background-color: #D9D9D9;
  border: none;
  margin-left:6px;
  border-radius: 5px;
  color:#141414;
}

.keyboard-button:hover {
  background-color: #D1D1D1;
  transform:translateY(-5px);
}

.keyboard-button-list {
  list-style: none;
  display:flex;
  padding:0;
  margin: 120px 0 0 0;
}
.keyboard-button-list button:first-child{
  margin:0;
}
